@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #000;
}

.container {
  display: flex;
}

nav {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #000;
  width: 280px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo {
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}

.logo img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

a {
  position: relative;
  color: #00ffff;
  font-size: 20px;
  display: table;
  width: 280px;
  padding: 10px;
}

nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 4px;
  bottom: 5px;
  margin-left: 10px;
}

a:hover {
  background: #00ffff;
  color: #000;
}

a.active {
  background-color: #00ffff;
  color: #000;
}

.logout {
  position: absolute;
  bottom: 10px;
}

/* Main Section */
.main {
  top: 20px;
  position: relative;
  padding: 10px;
  width: 100%;
}

.main h1 {
  color: #fff;
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  margin-top:70px;
  display: block;
  color: #fff;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

button[type="submit"] {
  background: #00ffff;
  color: #1c1c1c;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: #1c1c1c;
  color: #00ffff;
}
